<div class="mainimage d-flex justify-content-center align-items-center">

    <div class="text-center">
      <h1>MSK and Womens Health</h1>

    </div>

</div>
<div class="container pt-4">
  <div class="row">
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-6">
      <%= cl_image_tag "sharonedwardsProfilePic_odloe8", class: "profilepic", alt: "Sharon Edwards Profile Picture" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <%= cl_image_tag "sports-massage-deep-tissue_ziu36h", class: "imagetext"  %>
    </div>
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</div>
<div class="container pt-4">
  <div class="row">
    <div class="col-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-6">
      <%= cl_image_tag "Sports-Massage-Therapist_wewcew", class: "imagetext" %>
    </div>
  </div>
</div>
