.sectcurve{
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding-top: 100px;
    background: linear-gradient(135deg, #0693e3, #00d084, #7bdcb5);
}
.curve{
   position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(65%, 50%);
    background-color: #7bdcb5;
    z-index: 1;
    opacity: 0.4;
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #0693e3;
    transform: translate(-14%, 40%);
    z-index: 1;
    opacity: 0.4;
}
