.mainbackground {
  background: linear-gradient(135deg, #0693e3, #00d084, #7bdcb5);
  border-radius: 10px;
  padding: 0;
  margin: 0;
}

.maincard {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.aboutcard{
  width: 100%;
  background-image: url("https://res.cloudinary.com/daaxwngzv/image/upload/v1733945738/limitlesstransformation_of4fse.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.contactcard {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.maincards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

@media(min-width: 768px) {
  .postionmain{
    padding-left: 10%;
  }
}

@media(max-width: 768px) {
  .maincards {
    grid-template-columns: 1fr;
  }
  .maincards > div:nth-child(1) {
    order: 2;
  }

  .maincards > div:nth-child(2) {
    order: 1;
  }

  .maincards > div:nth-child(3) {
    order: 3;
  }

  .maincards > div:nth-child(4) {
    order: 4;
  }
  .maincards > div:nth-child(5) {
    order: 6;
  }

  .maincards > div:nth-child(6) {
    order: 5;
  }

  .maincards > div:nth-child(7) {
    order: 7;
  }

  .maincards > div:nth-child(8) {
    order: 8;
  }
}
