.mainbackground {
  background-color: #0693e3;
  border-radius: 10px;
  padding: 0;
  margin: 0;
}

.maincard {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.contactcard {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
