#navimage {
  width: 10vh;
}

.mainimage {
  width: 100%;
  height: 20vh;
  background-image: url("https://res.cloudinary.com/daaxwngzv/image/upload/v1725226351/theraputicwater_ojzjrj.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profilepic{
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

.imagetext{
  width: 25vw;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.mapimage{
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media (max-width: 768px) {
  #navimage{
    display: none;
  }
  .profilepic{
    width: 30vw;
    height: 30vw;
  }
  .imagetext{
    width: 50vw;
  }
}
