.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.banner-content {
  max-width: 800px;
  text-align: center;
}

.maintext {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;
  text-shadow: 0 0.19rem 0.38rem rgba(0, 0, 0, 0.16);
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 2rem;
}

.button-36 {
  /* Your existing button styles */
  display: inline-block;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .maintext {
    font-size: 2rem;
  }
}


.maincontain{
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center;
}

.abouttext{
  color: #ffffff;
  font-size: 1.3;
  font-weight: 600;
  text-shadow: 0 0.19rem 0.38rem rgba(0, 0, 0, 0.16);
}

.abouttextbutton{
  color: #6F42C1;
  font-size: 1.3;
  font-weight: 600;
  text-shadow: 0 0.19rem 0.38rem rgba(0, 0, 0, 0.16);
}

.abouttextbutton:hover{
  color: #9400D3;
  cursor: pointer;
}

.tellink{
  text-decoration: none;
  color: #333;
}

.tellink:hover{
  color: #6f6253;
}

.footertel{
  color: black;
  text-decoration: none;
}

.footertel:hover{
  color: #6f6253;
}

.textwhite{
  color: white;
}
