<div data-controller="cliniko">
  <iframe id="cliniko-94775620" data-cliniko-target="iframe"
          src="https://sharon-edwards.uk2.cliniko.com/bookings?embedded=true"
          frameborder="0" scrolling="auto" width="100%" height="1000"
          style="pointer-events: auto;"></iframe>
</div>
