<nav class="navbar-dark bg-dark">
    <div class="d-flex justify-content-around">
      <div class="d-flex align-items-center">
        <a class="navbar-brand" href="#">Sharon Edwards</a>
      </div>
      <div>
        <%= cl_image_tag("Physiologo_wpxd3d",id: "navimage", alt: "physiologo") %>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" data-bs-auto-close="outside" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li><a class="nav-item dropdown" href="#">Areas</a></li>
          <li><a class="nav-item dropdown" href="#">Contact</a></li>
          <li><a class="nav-item dropdown" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </nav>
